{% extends 'base.html' %}
{% block title %}Produtos - E-commerce Django{% endblock %}

{% block content %}
    <h1>Produtos</h1>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Produto</th>
                <th>Preco</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% if produtos %} <!-- Verifica se existem produtos cadastrados-->
                {% for item in produtos %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.nome }}</td>
                    <td>R$ {{ item.preco }}</td>
                    <td>{{ item.descricao }}</td>
                    <td>
                        <a href="{% url 'editar_produto' item.id %}">Editar</a>
                        <a href="{% url 'del_produto' item.id %}">Deletar</a>
                    </td>       
                </tr>
                {% endfor %}
            {% else %}
                <!-- Caso não existam produtos cadastrados, exibe esta mensagem -->
                <tr>
                    <td colspan="5">Nenhum produto cadastrado.</td> <!-- O colspan é para a mensagem ocupar toda as '5' linha -->
                </tr>
            {% endif %}
        </tbody>
    </table>
    <p>
        <a href="{% url 'add_produto' %}">Adicionar mais Produto</a>
    </p>
{% endblock %}